body {
    font-family: "Roboto";
    color: #212121;
}

.logo {
    font-family: "Raleway";
    font-style: normal;
    font-size: 26px;
}

#logo-first-part {
    color: #2196F3;
}

.navigation {
    font-style: normal;
    font-size: 14px;
    color: #212121;
}


.nav-font-change:focus {
    color:#2196F3;
}

.nav-font-change:hover {
    color:#2196F3;
}

.contact {
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #757575;
}

.colour-change {
    background-color: #F5F4FA;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #212121;
}

.colour-change:hover {
    background-color: #2196F3;
    color: #F5F4FA;
}

button {
    border: 0;
}

a {
    text-decoration: none;
    color: #212121;
}

.image-description-1 {
    font-size: 18px;
    font-weight: 900;
}

.image-description-2 {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}